In [1]:
import pandas as pd #for handling csv and csv contents
from rdflib import Graph, Literal, RDF, URIRef, Namespace #basic RDF handling
from rdflib.namespace import FOAF , XSD #most common namespaces
import urllib.parse #for parsing strings to URI's

In [2]:
url='https://raw.githubusercontent.com/KRontheWeb/csv2rdf-tutorial/master/example.csv'
df=pd.read_csv(url,sep=";",quotechar='"')

In [3]:
df

,Name,Address,Place,Country,Age,Hobby,Favourite Colour
0,John,Dam 52,Amsterdam,The Netherlands,32,Fishing,Blue
1,Jenny,Leidseplein 2,Amsterdam,The Netherlands,12,Dancing,Mauve
2,Jill,52W Street 5,Amsterdam,United States of America,28,Carpentry,Cyan
3,Jake,12E Street 98,Amsterdam,United States of America,42,Ballet,Purple

In [4]:
g = Graph()
ppl = Namespace('http://example.org/people/')
loc = Namespace('http://mylocations.org/addresses/')
schema = Namespace('http://schema.org/')

In [5]:
for index, row in df.iterrows():
    g.add((URIRef(ppl+row['Name']), RDF.type, FOAF.Person))
    g.add((URIRef(ppl+row['Name']), URIRef(schema+'name'), Literal(row['Name'], datatype=XSD.string) ))
    g.add((URIRef(ppl+row['Name']), FOAF.age, Literal(row['Age'], datatype=XSD.integer) ))
    g.add((URIRef(ppl+row['Name']), URIRef(schema+'address'), Literal(row['Address'], datatype=XSD.string) ))
    g.add((URIRef(loc+urllib.parse.quote(row['Address'])), URIRef(schema+'name'), Literal(row['Address'], datatype=XSD.string) ))

In [6]:
g.serialize('mycsv2rdf.ttl',format='turtle')

In [17]:
url = "https://raw.githubusercontent.com/NatLibFi/Finto-data/master/vocabularies/iptc-subjectcode/iptc_v2_1.csv"
df=pd.read_csv(url)

In [16]:
df

,0,1,2,3,4,5
0,IPTC-sanasto v2.1 3/2011. Lähde: IPTC NewsCode...,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,01000000,NaN,NaN,NaN,Taide Kulttuuri Viihde,Ihmisten luova toiminta ja henkisten kykyjen j...
3,NaN,1001000.0,NaN,NaN,Arkeologia,NaN
4,NaN,1002000.0,NaN,NaN,Arkkitehtuuri,NaN
...,...,...,...,...,...,...
1056,NaN,17002000.0,NaN,NaN,Ilmastonmuutokset,Kasvihuoneilmiö ympäristössä
1057,NaN,17003000.0,NaN,NaN,Säätiedotteet,"Ajokeli, merisää, siitepöly"
1058,NaN,NaN,17003001.0,NaN,Sääuutiset,NaN
1059,NaN,17004000.0,NaN,NaN,Säätilastot,NaN
1060,NaN,17005000.0,NaN,NaN,Säävaroitukset,"Jää, kulo, levä, lumi, metsäpalo, myrsky, tuuli"

In [18]:
from rdflib import Graph, Namespace, URIRef, Literal, RDF
import csv
import sys

SKOS = Namespace("http://www.w3.org/2004/02/skos/core#")
SC = Namespace("http://cv.iptc.org/newscodes/subjectcode/")

g = Graph()
g.namespace_manager.bind('skos', SKOS)

reader = csv.reader(open(sys.argv[1]))
idx = 0
for row in reader:
  idx += 1
  if idx < 3: continue
  for code in row[:4]:
    if code != '': break
  label = row[4].strip().decode('UTF-8')
  defn = row[5].strip().decode('UTF-8')
  uri = SC[code.strip()]
  g.add((uri, SKOS.prefLabel, Literal(label, 'fi')))
  if defn != '':
    g.add((uri, SKOS.definition, Literal(defn, 'fi')))
  
g.serialize(destination=sys.stdout, format='turtle')

FileNotFoundError: [Errno 2] No such file or directory: '-f'

In [1]:
import pandas as pd
df = pd.read_csv("sim29_03.csv")

In [16]:
df[df.similarity == 'Architektura i budownictwo'].shape

(0, 5)

In [18]:
df["cat"].value_counts()

<Kategoria: Architektura i budownictwo>: <Termin    42007
Name: cat, dtype: int64

In [11]:
df["cat"] = df['similarity'].str.extract(r"(<Kategoria: Architektura i budownictwo>:)")

In [46]:
df["cat"] = df['similarity'].str.extract(r"(<Kategoria: Transport i logistyka>: <Termin)")
df["cat"].value_counts()

<Kategoria: Transport i logistyka>: <Termin    7831
Name: cat, dtype: int64

In [20]:
df.to_csv("df_25_04.csv")

In [47]:
df2 = pd.read_csv("data_fbc_pol.csv")

In [48]:
df2.head()

,Unnamed: 0,Records,DBN,1_1,ENTS
0,0,Unia Europejska,NaN,[],"['Unia Europejska, orgName']"
1,0,Polska. Główny Urząd Statystyczny,NaN,[],"['Polska, placeName', 'Główny Urząd Statystycz..."
2,0,Polska Akademia Nauk.,NaN,[],"['Polska Akademia Nauk, orgName']"
3,0,Rada Wzajemnej Pomocy Gospodarczej.,NaN,[],"['Rada Wzajemnej Pomocy Gospodarczej, orgName']"
4,0,duchowość pozareligijna,NaN,[],[]

In [52]:
df2["cat"] = df2['ENTS'].str.extract(r"(placeName)")
df2["cat"].value_counts()

placeName    337289
Name: cat, dtype: int64